<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests">
    <test name="Pixel_4_API_30_1">
        <listeners>
            <listener class-name="com.qe.listeners.TestListener" />
        </listeners>
        <parameter name="emulator" value="true" />
        <parameter name="platformName" value="Android" />
        <parameter name="udid" value="emulator-5554" />
        <parameter name="deviceName" value="Pixel_4_API_30_1" />
        <parameter name="systemPort" value="10000" />
        <parameter name="chromeDriverPort" value="11000" />
        <classes>
            <class name="com.qe.tests.LoginTests"/>
            <class name="com.qe.tests.DiscoverTests"/>
            <class name="com.qe.tests.MultibuyerTests"/>
            <class name="com.qe.tests.SearchCatalogTests"/>
            <!--class name="com.qe.tests.ProductCardTests"/-->
            <class name="com.qe.tests.GuestTests"/>
            <!--class name="com.qe.tests.ListsTests"/-->
            <class name="com.qe.tests.LogOutTests"/>
            <class name="com.qe.tests.OrdersTests"/>
            <class name="com.qe.tests.OrderCartTests"/>
            <!--class name="com.qe.tests.CreditCardTests"/>
            <class name="com.qe.tests.DiscountsTests"/-->
        </classes>
    </test>
    <!--test name="Pixel_3_API_29_1">
        <listeners>
            <listener class-name="com.qe.listeners.TestListener" />
        </listeners>
        <parameter name="emulator" value="true" />
        <parameter name="platformName" value="Android" />
        <parameter name="udid" value="emulator-5556" />
        <parameter name="deviceName" value="Pixel_3_API_29_1" />
        <parameter name="systemPort" value="10001" />
        <parameter name="chromeDriverPort" value="11001" />
        <classes>
            <class name="com.qe.tests.DebugTests"/>
            <class name="com.qe.tests.LoginTests"/>
            <class name="com.qe.tests.GuestTests"/>
            <class name="com.qe.tests.DiscoverTests"/>
            <class name="com.qe.tests.MultibuyerTests"/>
            <class name="com.qe.tests.OrderCartTests"/>
            <class name="com.qe.tests.SearchCatalogTests">
        </classes>
    </test-->
    <!--test name="Pixel_3a_API_30_1">
        <listeners>
            <listener class-name="com.qe.listeners.TestListener" />
        </listeners>
        <parameter name="emulator" value="true" />
        <parameter name="platformName" value="Android" />
        <parameter name="udid" value="emulator-5558" />
        <parameter name="deviceName" value="Pixel_3a_API_30_1" />
        <parameter name="systemPort" value="10002" />
        <parameter name="chromeDriverPort" value="11002" />
        <classes>
            <class name="com.qe.tests.DebugTests"/>
            <class name="com.qe.tests.LoginTests"/>
            <class name="com.qe.tests.GuestTests"/>
            <class name="com.qe.tests.DiscoverTests"/>
            <class name="com.qe.tests.MultibuyerTests"/>
            <class name="com.qe.tests.OrderCartTests"/>
            <class name="com.qe.tests.SearchCatalogTests">
        </classes>
    </test-->
    <!--test name="Pixel_4_API_30_1">
        <listeners>
            <listener class-name="com.qe.listeners.TestListener" />
        </listeners>
        <parameter name="emulator" value="true" />
        <parameter name="platformName" value="Android" />
        <parameter name="udid" value="emulator-5560" />
        <parameter name="deviceName" value="Pixel_4_API_30_1" />
        <parameter name="systemPort" value="10003" />
        <parameter name="chromeDriverPort" value="11003" />
        <classes>
            <class name="com.qe.tests.DebugTests"/>
            <class name="com.qe.tests.LoginTests"/>
            <class name="com.qe.tests.GuestTests"/>
            <class name="com.qe.tests.DiscoverTests"/>
            <class name="com.qe.tests.MultibuyerTests"/>
            <class name="com.qe.tests.OrderCartTests"/>
            <class name="com.qe.tests.SearchCatalogTests"/>
        </classes>
    </test-->
    <!--test name="Pixel_XL_API_30">
        <listeners>
            <listener class-name="com.qe.listeners.TestListener" />
        </listeners>
        <parameter name="emulator" value="true" />
        <parameter name="platformName" value="Android" />
        <parameter name="udid" value="emulator-5562" />
        <parameter name="deviceName" value="Pixel_XL_API_30" />
        <parameter name="systemPort" value="10004" />
        <parameter name="chromeDriverPort" value="11004" />
        <classes>
            <class name="com.qe.tests.DebugTests"/>
            <class name="com.qe.tests.LoginTests"/>
            <class name="com.qe.tests.GuestTests"/>
            <class name="com.qe.tests.DiscoverTests"/>
            <class name="com.qe.tests.MultibuyerTests"/>
            <class name="com.qe.tests.OrderCartTests"/>
            <class name="com.qe.tests.SearchCatalogTests"/>
        </classes>
    </test-->
    <test name="iPhone12Pro">
        <listeners>
            <listener class-name="com.qe.listeners.TestListener" />
        </listeners>
        <parameter name="platformName" value="iOS" />
        <parameter name="udid" value="4B7C2EAD-4581-4EBF-A7A7-D81234CDE216" />
        <parameter name="deviceName" value="iPhone12Pro" />
        <parameter name="wdaLocalPort" value="10001" />
        <parameter name="webkitDebugProxyPort" value="11001" />
        <classes>
            <class name="com.qe.tests.LoginTests"/>
            <class name="com.qe.tests.iOSOnlyLoginTests"/>
            <class name="com.qe.tests.DiscoverTests"/>
            <class name="com.qe.tests.MultibuyerTests"/>
            <class name="com.qe.tests.SearchCatalogTests"/>
            <class name="com.qe.tests.ProductCardTests"/>
            <class name="com.qe.tests.GuestTests"/>
            <class name="com.qe.tests.ListsTests"/>
            <class name="com.qe.tests.LogOutTests"/>
            <class name="com.qe.tests.OrdersTests"/>
            <class name="com.qe.tests.OrderCartTests"/>
            <class name="com.qe.tests.CreditCardTests"/>
            <class name="com.qe.tests.DiscountsTests"/>
        </classes>
    </test>
</suite> <!-- Suite -->