<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SyscoShopApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
				<key>dateExpires</key>
				<string>1/27/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>API.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AccountsFeature.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Analytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AnyFormatKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Branch.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CatalogFeature.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Common.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CommonUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DashboardFeature.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DeliveryFeature.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Device.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Differentiator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Feature.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FeatureFlagging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FittedSheets.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GRDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Intercom.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>KeychainAccess.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ListsFeature.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Logging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>LoginFeature.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MDFInternationalization.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MaterialComponents.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MotionAnimator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MotionInterchange.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NotificationsFeature.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Optimizely.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OrdersFeature.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PhoneNumberKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ProductsFeature.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Pulsator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Repository.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxAppState.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxDataSources.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxGRDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxGesture.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxKeyboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxKingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxMKMapView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxSwiftExt.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ShopCommon.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftDate.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TealiumSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F60DF637C6BC79BD461AC337DA2305957DC19C2</string>
						<key>dateExpires</key>
						<string>1/27/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q6A83Z2TT5</string>
						<key>name</key>
						<string>Sysco Corporation (Company)</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Q6A83Z2TT5.com.syscocorp.mss</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:sysco.test-app.link</string>
					<string>applinks:sysco.app.link</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>Q6A83Z2TT5</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>SyscoShopApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6003897c-5844-4c25-b4c4-2ac8e479f4c1</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.syscocorp.mss</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Q6A83Z2TT5</string>
				<key>name</key>
				<string>Sysco Corporation (Company)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
